<% provide(:title, "About") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | Alternative Financing Portal</title>
  </head>
  <body>
    <h1>About</h1>
    <p>
     In recent years, the UK alternative finance market has grown rapidly, 
     leaping from £666 million in 2013 to £1.74 billion in 2014. SMEs, entrepreneurs, 
     charities and other organisations that previously faced difficulties obtaining financing
     from conventional credit providers like banks are now obtaining funding easier as they look 
     to other sources of finance such as P2P business lending, invoice trading, equity-based crowdfunding 
     and so on. This is beneficial as the growth of the alternative finance market contributes to UK’s economy.
     </p>
     <p>
     However, even with such evident progress, more can be done to connect SMEs to potential investors 
     faster and easier. We hope to come up with a financial portal to bridge the gap between these SMEs and 
     people with the financial ability to fund them. We plan to focus on SMEs that have been established less
     than 5 years ago and have a turnover less than £10 million a year first. Our portal aims to help an SME that 
     needs financing to work out where to get it. SMEs will be able to sign up for an account on the portal and use 
     their webpage in the portal to pitch their product or service virtually. The portal will serve as a platform to 
     connect with potential investors where they can exchange further details if interested to kickstart funding talks. 
     In addition, the portal will match SMEs to different alternative finance sources based on a range of information 
     parameters such as the object of borrowing, the terms of borrowing, the nature of the relationship sought with the 
     lender, the risk level of the business activity and so on. All these will help to streamline the search process and
     match SMEs up with investors most suitable to meet their needs and vice versa.
     </p>

  </body>
</html>
