<footer class="footer">

  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://uk.atos.net/en-uk/home/we-are/news/press-release.html/">News</a></li>
    </ul>
  </nav>
</footer>
